<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Rainfall');
        data.addColumn('number', 'Temperature');
        data.addRows([
          {{row-array}}
        ]);

				var options = {smoothLine: true,
					series:{0:{targetAxisIndex:0}, 1:{targetAxisIndex:1}},
					vAxes:[
					{title:'Rainfall'},
					{title:'Temperature'}
				]}

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1024px; height: 800px;"></div>
  </body>
</html>

